# Project files
cms/data/*
cms/config/
cms/propel/build/classes/*/om
cms/propel/build/classes/*/map
cms/propel/build/sql/
curry
vendor

# Junk files created by OS
._*
.DS_Store
Thumbs.db

# Project files
www/cache/
