# Project files
cms/data/*
cms/config/config.php
cms/config/propel.xml
cms/config/propel.php
cms/config/propel-classmap.php
cms/propel/build/classes/*/om
cms/propel/build/classes/*/map
cms/propel/build/sql/
/vendor

# Junk files created by OS
._*
.DS_Store
Thumbs.db

# Project files
www/cache/
